---
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import Share from "../../components/Share.astro";
import { Image, getImage } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import PostMeta from "../../components/PostMeta.astro";
import { getThumbnail } from "../../cloudinary";
import CommentForm from "../../components/CommentForm.astro";
import { XataClient } from "../../xata";
import CommentList from "../../components/CommentList.astro";
import EmojiReactions from "../../components/EmojiReactions.svelte";
import type { ReactionDetails } from "../../types/Emoji";
import { getReactionDetailsByPost } from "../../utils/Emoji";

const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });
const userId = Astro.cookies.get("userId");
const { slug } = Astro.params;

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const post = data.get("post") as string;
    const comment = data.get("comment") as string;

    if (!userId?.value) {
        return Astro.redirect("/login?redirect=/blog/${slug}#comments");
    }

    await xata.db.comments.create({
        post: slug,
        text: comment,
        date: new Date(),
        user: userId.value,
    });

    return Astro.redirect(`/blog/${slug}#comments`);
}

const post = await getEntryBySlug("posts", slug as string);
if (!post) {
    return Astro.redirect("/404");
}

const comments = await xata.db.comments
    .select(["id", "text", "date", "user.name"])
    .filter({ post: post.slug })
    .getMany();

const reactionDetails: ReactionDetails = await getReactionDetailsByPost(
    post.slug,
    userId?.value
);

const { Content, headings } = await post.render();
// const coverImageSource = (await getImage({ src: post.data.image })).src;
---

<Layout
    title={post.data.title}
    image={getThumbnail(post.data.title)}
    description={post.data.description}
>
    <Main>
        <a class="text-zinc-500 text-2xl mb-16 underline block" href="/blog"
            >← Back to all posts</a
        >

        <H1 text={post.data.title} />

        <PostMeta post={post} />
        <Image
            src={post.data.image}
            width={1024}
            height={1024 / 2}
            alt={post.data.title}
            class="rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
        />
        <div class="mb-10">
            <TableOfContents headings={headings} />
        </div>
        <div class="relative">
            <Share post={post} />
            <div class="prose prose-2xl overflow-visible relative">
                <Content />
            </div>
        </div>
        <EmojiReactions
            client:visible
            post={post.slug}
            details={reactionDetails}
        />
    </Main>
    <div
        class="bg-teal-100/30 px-24 py-14 relative border-b border-teal-900 mt-44"
    >
        <div class="max-w-7xl mx-auto">
            <div id="comments" class="mb-4">
                <h2>
                    <span class="font-bold text-teal-900 text-4xl mr-12"
                        >Comments</span
                    >
                    <span
                        class="border border-teal-900 text-teal-900 rounded-full px-4 py-2 font-bold text-xl"
                        >{comments.length}</span
                    >
                </h2>
            </div>
        </div>
        <div class="mb-14">
            <div class="mb-14">
                <CommentForm />
            </div>
            <CommentList comments={comments} />
        </div>
    </div>
</Layout>
