---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/cabin";

interface Props {
    title?: string;
    description?: string;
    image?: string;
}

const {
    title = "Rhythm Nation",
    description = "A community of music producers and enthusiasts",
    image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- -- Open Graph / Facebook ---->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="og:image:alt" content={description} />

        <!-- -- Twitter ---->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={`${image}`} />
        <meta property="twitter:image:alt" content={description} />

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
            body {
                font-family: "Cabin", sans-serif;
            }
        </style>
    </head><body
        class="text-5xl min-h-screen grid grid-rows-[auto,1fr,auto] max-sm:text-lg"
    >
        <Header />
        <slot />
        <Footer />
    </body>
</html>
